<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agenda Profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
</head>
<header>
        <nav class="navbar">
            <h2 class="logo">motorlink</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#agendar">Agendar</a></li>
                <li><a href="#citas">Citas</a></li>
                <li><a href="ordenes.html">Órdenes</a></li>
                <li><a href="inventario.html">Inventario</a></li>
                <li><a href="pagos.html">Pagos</a></li>
                
            </ul>
        </nav>
    </header>
<section class="panel-section">
    <h2>Control de Inventario</h2>

    <table class="tabla">
        <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Estado</th>
        </tr>

        <tr>
            <td>Filtro de Aceite</td>
            <td>Mantenimiento</td>
            <td>45</td>
            <td class="ok">Óptimo</td>
        </tr>

        <tr>
            <td>Balatas</td>
            <td>Frenos</td>
            <td>8</td>
            <td class="bajo">Stock Bajo</td>
        </tr>

        <tr>
            <td>Batería</td>
            <td>Eléctrico</td>
            <td>0</td>
            <td class="agotado">Agotado</td>
        </tr>

    </table>
</section>